@model CjbHome.ViewModels.Blog.ViewPostViewModel
@section styles{
    @if (Model.PostRequiresSyntaxHighlight)
    {
        @Styles.Render("~/Content/SyntaxHighlighter");
    }
}
@section scripts{
    @if (Model.PostRequiresSyntaxHighlight)
    {
        @Scripts.Render("~/bundles/SyntaxHighlighter");
        <script type="text/javascript">
            SyntaxHighlighter.all()
        </script>
    }
}


@{
    ViewBag.Title = Model.Post.Title;
    var defaultTitleImage = "https://lh3.googleusercontent.com/-NbXzKZP9S2s/T1ug_tiqhhI/AAAAAAAAAJg/42YHpbwNfIQ/s800-Ic42/IMG_3248.JPG";
    ViewBag.TitleImage = Model.Post.HeaderImageUrl ?? defaultTitleImage;
}

<h2>@ViewBag.Title</h2>

<div class="post-body">
    @Html.Raw(Model.Post.Content)
</div>

<p>
    @foreach (var tag in Model.Post.Tags)
    {
        <span class="label label-default post-tag">@Html.ActionLink(tag.Title, "ViewPostByTag", new { tag = Html.Encode(tag.Title) })</span>
    }
</p>

<p class="post-main-subtitle">
    Posted on @Html.DisplayFor(model => model.Post.PostDate) at @Html.DisplayFor(model => model.Post.PostTime)
</p>

<p class="text-center footer-text">
    @if (Model.PreviousPost != null)
    {
        @Html.ActionLink(String.Format("<< {0}", Model.PreviousPost.Title), Model.PreviousPost.LinkText) @Html.Raw(" |")
    }
    @Html.ActionLink("Home", "Index")
    @if (Model.NextPost != null)
    {
        @Html.Raw("| ") @Html.ActionLink(String.Format("{0} >>", Model.NextPost.Title), Model.NextPost.LinkText)
    }
</p>


