@model IEnumerable<CjbHome.Models.BlogPost>

@{
    ViewBag.Title = "Admin Home";
}

<h2>Admin Home</h2>

<p>
    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-sm btn-primary" })
    @Html.ActionLink("Export Posts", "Export", null, new { @class = "btn btn-sm btn-primary" })
    @Html.ActionLink("Import Posts", "Import", null, new { @class = "btn btn-sm btn-danger" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostTime)
        </td>
        <td>
            @Html.ActionLink("View", "ViewPost", "Blog", new { id = item.LinkText }, null) |
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
